---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

const treguls = await getCollection("tregul");
---

<Layout title="Menú de Tregül">
	<header class="flex justify-center items-center my-16">
		<h1 class="text-5xl">Tregül</h1>
	</header>
	
	<section class="section-cards">
		{
			treguls.map((tregul) => (
				<Card
					title={tregul.data.title}
					image={tregul.data.image}
					body={tregul.data.shortDescription}
					href={`/tregul/${tregul.slug}`}
					price={tregul.data.price}
				/>
			))
		}
	</section>

	<style>
		.section-cards {
			width: 100%;
			height: auto;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 60px;
		}
	</style>
</Layout>
